:root {
  --blue: #3eaff8;
  --black: #1e314c;
  --black2: rgba(0, 0, 0, 0.5);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

/* nav section */
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 calc((100vw - 1050px) / 2) 0 calc((100vw - 1100px) / 2) !important;
  height: 100px;
  align-items: center;
}
@media (max-width: 1060px) {
  nav {
    display: flex;
    justify-content: space-between;
    padding: 0 10px !important;
    height: 100px;
    align-items: center;
  }
}
@media (max-width: 850px) {
  nav .nav_links {
    display: none !important;
  }
  nav #nav-icon {
    display: block !important;
  }
}

nav img {
  height: 40px;
}

nav #nav-icon {
  display: none;
  margin-right: 10px;
}

nav #nav-icon .menu-icon {
  backface-visibility: hidden;
  display: block;
  height: 3px;
  min-width: 25px;
  border-radius: 5px;
  margin: 3px;
  background: var(--blue);
  transition: all 0.55s;
}

nav input {
  display: none;
}
nav .nav_links {
  height: 40px;
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  font-weight: bold;
  font-size: 0.9rem;
}
nav ul li {
  font-weight: 700;
  color: var(--black);
  margin-right: 40px;
  transition: all 0.5s ease;
  cursor: pointer;
}
nav ul li:hover {
  color: var(--blue);
}
nav button {
  padding: 10px 20px;
  border: none;
  background: var(--blue);
  border-radius: 7px;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
  color: white;
  transition: all 0.5s ease;
}
nav button:hover {
  transform: translateY(-2px);
}

/* hero section */
.hero {
  display: flex;
  height: calc(100vh - 100px);
}
.hero .hero_information {
  padding-left: calc((100vw - 1100px) / 2);
  padding-top: 100px;
}
.hero .hero_information h1 {
  font-size: 3rem;
  margin-bottom: 5px;
}
.hero .hero_information .lower_buttons {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.hero .hero_information .lower_buttons :nth-child(1) {
  background: #3eaff8;
  color: white;
  border-radius: 5px;
  height: max-content;
  padding: 12px 20px;
  border: none;
}
.hero .hero_information .lower_buttons img {
  padding: 0;
  margin: 0;
  position: relative;
  width: 166.59px;
  height: 60px;
}

.hero .hero_lottie {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lottie_anime {
  height: 90%;
  width: 90%;
  /* border: 1px solid red; */
}

@media (max-width: 850px) {
  .hero {
    display: flex;
    height: max-content;
    flex-direction: column;
  }
  .hero .hero_information {
    padding-left: 10px;
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .hero .hero_information h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
}

/* quick about list section */
.about_list {
  min-height: 50vh;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  padding: 0 calc((100vw - 1050px) / 2) 80px calc((100vw - 1100px) / 2) !important;
}

.about_list div {
  width: 300px;
}

.about_list div :nth-child(1) {
  height: 47px;
  width: 47px;
}
.about_list div h1:nth-child(2) {
  color: var(--black);
  font-size: 1.7rem;
  margin: 17px 0;
}
.about_list div :nth-child(3) {
  width: 60px;
  height: 3px;
  background: var(--blue);
  border: none;
  border-radius: 1px;
  margin-bottom: 18px;
}
.about_list div :nth-child(4) {
  color: var(--black2);
  line-height: 1.5rem;
  font-family: Poppins;
}

@media (max-width: 550px) {
  .about_list {
    justify-content: center;
    align-items: center;
    height: max-content;
  }
  .about_list div {
    margin-top: 40px;
  }
  .about_list div h1:nth-child(2) {
    color: var(--black);
    font-size: 1.5rem;
    margin: 17px 0;
  }
}

@media (max-width: 400px) {
  .about_list {
    justify-content: flex-start;
    align-items: center;
    height: max-content;
    padding: 50px 20px !important;
  }
  .about_list div {
    margin-top: 40px;
  }
  .about_list div h1:nth-child(2) {
    color: var(--black);
    font-size: 1.5rem;
    margin: 17px 0;
  }
}

/* grow your business section */
.grow_your_biz {
  height: 100vh;
  display: flex;
  padding: 100px calc((100vw - 1050px) / 2) 0 calc((100vw - 1100px) / 2) !important;
}
.grow_your_biz .grow_your_biz_content {
  min-width: 50% !important;
  padding: 100px 0;
}

.grow_your_biz .grow_your_biz_content h1 {
  color: var(--black);
}
.grow_your_biz .grow_your_biz_content hr {
  width: 60px;
  height: 3px;
  background: var(--blue);
  border: none;
  border-radius: 1px;
  margin-bottom: 18px;
  margin: 30px 0;
}
.grow_your_biz .grow_your_biz_content p {
  color: var(--black2);
  margin: 20px 0;
}
.grow_your_biz_img {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50%;
}
.grow_your_biz_img img {
  width: 79%;
  height: 70%;
}

@media (max-width: 1000px) {
  .grow_your_biz {
    height: max-content;
    flex-direction: column;
    padding: 15px 20px !important;
  }
  .grow_your_biz .grow_your_biz_content {
    min-width: 50%;
    padding: 0px 0;
  }
  .grow_your_biz .grow_your_biz_content h1 {
    color: var(--black);
    font-size: 1.5rem;
  }
  .grow_your_biz .grow_your_biz_content p {
    color: var(--black2);
    margin: 30px 0;
  }
}

/* patners */
.patners {
  height: 80vh;
  display: flex;
  color: white;
  overflow: hidden;
}
.patners .patners_deep {
  background: #1a2833;
  min-width: 50%;
  padding: 110px 20px 50px calc((100vw - 1100px) / 2);
}
.patners .patners_deep h1 {
  font-size: 2rem;
}
.patners .patners_deep hr {
  width: 60px;
  height: 3px;
  background: white;
  border: none;
  border-radius: 1px;
  margin: 22px 0;
}
.patners .patners_deep p {
  font-weight: 500;
}
.patners .patners_deep div {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
}
.patners .patners_deep div img {
  margin-right: 10px;
}
.patners .patners_light {
  background: #3eaff8 !important;
  padding: 110px calc((100vw - 1200px) / 2) 50px 50px;
}

@media (max-width: 1100px) {
  .patners {
    flex-direction: column;
    height: max-content;
    margin-bottom: 30px;
  }
  .patners .patners_deep {
    background: #1a2833;
    min-width: 50%;
    padding: 80px 20px;
  }
  .patners .patners_deep div {
    justify-content: space-evenly;
  }
}

/* stories */
.stories {
  min-height: 80vh;
  width: 100%;
}
.stories_stories {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.stories_stories hr {
  width: 60px;
  height: 3px;
  background: var(--blue);
  border: none;
  border-radius: 1px;
  margin-bottom: 18px;
  margin: 10px 0;
  color: var(--black);
}
.stories_flex {
  display: flex;
  gap: 60px;
  padding: 0 calc((100vw - 1050px) / 2) 0 calc((100vw - 1100px) / 2) !important;
}
.stories_flex div {
  min-width: 50%;
  min-height: 100%;
}
.stories_flex div :nth-child(1) {
  width: 70px;
  height: 70px;
}
.stories_flex div :nth-child(2) {
  font-size: 1.1rem;
  margin: 12px 0;
}
.stories_flex div :nth-child(4) {
  color: var(--black2);
  font-weight: 500;
  font-size: 1.1rem;
}
.stories_flex div :nth-child(3) {
  color: rgb(26, 40, 51);
  font-size: 1.1rem;
  margin-bottom: 15px;
}

@media (max-width: 1100px) {
  .stories_flex {
    flex-direction: column;
    padding: 20px !important;
    gap: 0px;
  }
  .stories_stories {
    height: 100px;
    margin-top: 40px;
  }
  .stories_flex div {
    margin-top: 30px;
  }
  .stories_flex div :nth-child(4) {
    font-size: 1rem;
  }
}

/* footer */
footer {
  height: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: var(--blue);
  color: white;
  padding: 50px calc((100vw - 1050px) / 2) 40px calc((100vw - 1100px) / 2) !important;
}

@media (max-width: 1100px) {
  footer {
    padding: 70px 20px !important;
    height: max-content;
    margin-top: 40px;
  }
  footer h1 {
    margin-bottom: 40px;
    font-size: 2rem;
  }
}
